{{#el-monthly-calendar date=date events=calendarEvents as |weeks|}}
  <div class="row month-titles">
    <div class="cell">
    </div>
    <div class="cell title">
      {{moment-format date 'MMMM YYYY'}}
    </div>
  </div>
  <div class="row">
    {{#each weeks.firstObject.days as |day|}}
      <div class="cell title">
        {{day.dayName}}
      </div>
    {{/each}}
  </div>
  {{#each weeks as |week|}}
    <div class="week">
      {{#each week.days as |day|}}
        <div class="day">
          <span class='clickable' {{action 'changeToDayView' day.date}}>
            {{formatted-date day.date type='monthly-day'}}
          </span>
          <div class="events">
            {{#each day.events as |event|}}
              {{ilios-calendar-event-month event=event}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
{{/el-monthly-calendar}}
