<ul class='inline calendar-view-picker'>
  <li class='clickable highlight {{if showIcsFeed "on"}}' {{action 'toggleIcsFeed'}}>{{fa-icon 'feed'}}</li>
  <li class='clickable' {{action 'changeView' 'day'}}>{{day}}</li>
  <li class='clickable' {{action 'changeView' 'week'}}>{{week}}</li>
  <li class='clickable' {{action 'changeView' 'month'}}>{{month}}</li>
</ul>

<ul class='inline calendar-time-picker'>
  <li class='clickable' {{action 'goBack'}}>{{fa-icon 'backward'}}</li>
  <li class='clickable' {{action 'gotoToday'}}>{{today}}</li>
  <li class='clickable' {{action 'goForward'}}>{{fa-icon 'forward'}}</li>
</ul>
<div class='ilios-calendar-calendar'>
  {{#if showIcsFeed}}
    {{ics-feed url=icsFeedUrl instructions=icsInstructions refresh='refreshIcsFeed'}}
  {{/if}}
  <h1 class="{{if compiledCalendarEvents.isFulfilled 'loaded'}}">{{fa-icon 'spinner' spin=true}} {{loadingMessage}}</h1>
  {{component (concat "ilios-calendar-" selectedView)
    calendarEvents=sortedCalendarEvents
    date=selectedDate
    selectEvent='selectEvent'
    changeDate='changeDate'
    changeView='changeView'
    dueThisDay=dueThisDay
    showMore=showMore
    multidayEvents=multidayEvents
  }}
</div>
