<div class='ilios-calendar-single-event-summary'>
  <h1>
    {{#if recentlyUpdated}}
      {{fa-icon 'exclamation-circle' class="recently-updated-icon-event"}}
    {{/if}}
    {{courseTitle}} - <em>{{sessionTitle}}</em>
  </h1>
  <div class='ilios-calendar-single-event-offered-at'>{{offeredAtPhrase}}</div>
  <div class='ilios-calendar-single-event-location'>{{location}}</div>
  {{#if taughtByPhrase}}
    <div class='ilios-calendar-single-event-instructors'>{{taughtByPhrase}}</div>
  {{/if}}
  <div class='ilios-calendar-single-event-session-is'>{{sessionIsPhrase}}</div>
  {{#if equipmentRequired}}
    <div class='ilios-calendar-single-event-equipment-required'>
      {{{equipmentRequiredPhrase}}} {{fa-icon 'fa-flask'}}</div>
  {{/if}}
  {{#if attireRequired}}
    <div class='ilios-calendar-single-event-attire-required'>
      {{{attireRequiredPhrase}}} {{fa-icon 'fa-black-tie'}}</div>
  {{/if}}
  {{#if description}}{{{description}}}<br />{{/if}}
</div>

<fieldset>
  <div class='ilios-calendar-single-event-learningmaterial-list'>
    <h2>{{sessionLearningMaterialsPhrase}}</h2>
    {{ilios-calendar-single-event-learningmaterial-list
      learningMaterials=sessionLearningMaterials
      requiredPhrase=requiredPhrase
      noContentPhrase=noContentPhrase
    }}
  </div>
  <div class='ilios-calendar-single-event-objective-list'>
    <h2>{{sessionObjectivesPhrase}}</h2>
    {{ilios-calendar-single-event-objective-list
      objectives=sessionObjectives
      noContentPhrase=noContentPhrase}}
  </div>
</fieldset>

<fieldset>
  <div class='ilios-calendar-single-event-learningmaterial-list'>
    <h2>{{courseLearningMaterialsPhrase}}</h2>
    {{ilios-calendar-single-event-learningmaterial-list
      learningMaterials=courseLearningMaterials
      requiredPhrase=requiredPhrase
      noContentPhrase=noContentPhrase
    }}
  </div>
  <div class='ilios-calendar-single-event-objective-list'>
    <h2>{{courseObjectivesPhrase}}</h2>
    {{#if courseObjectives.isFulfilled}}
    {{ilios-calendar-single-event-objective-list
      objectives=courseObjectives
      noContentPhrase=noContentPhrase
    }}
    {{else}}
      {{fa-icon 'spinner' spin=true}}
    {{/if}}
  </div>
</fieldset>
